@import url('simplelightbox/dist/simple-lightbox.min.css');
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 24px 156px;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}
.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
